:root {
    --tindog-pink: #ff4c68;
    --tindog-orange: #ef8172;
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

#title {
    /* background-color: #3282b8; */
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: lowercase;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* Download Buttons */

.download-btn {
    /* margin-top: 16px;
    margin-right: 16px; */
    margin: 5% 3% 5% 0;
}

/* Title Image */

.dogphone {
    width: 50%;
    display: block;
    transform: rotate(25deg);
    margin: 2% auto;
}

/* Features Section */

#features {
    padding: 7% 15%;
}

.features__info {
    text-align: center;
    padding: 5%;
    line-height: 2;
}

.icon {
    color: #ef8172;
    /* font-size: 4rem; */
    margin-bottom: 1rem;
}

.icon:hover {
    color: var(--tindog-pink);
}

/* .features__info h3 {
    font-weight: 600;
} */

/* .features__info p {
    color: rgb(136, 134, 134);
} */

/* Testimonials Section */

#testimonials {
    text-align: center;
    background: var(--tindog-orange);
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials__image {
    border-radius: 100%;
    width: 10%;
    /* display: block; */
    margin: 20px;
}

#press {
    background: var(--tindog-orange);
    text-align: center;
    padding-bottom: 5%;
}

.press__logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing__info {
    padding: 3% 2%;
    /* text-align: center; */
}