:root {
    --tindog-pink: #ff4c68;
    --tindog-orange: #ef8172;
}

body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat";
    font-weight: 600;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: var(--tindog-pink);
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: lowercase;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
    padding: 4% 15% 7%;
    text-align: left;
}

/* Title Image */

.dogphone {
    width: 50%;
    /* display: block; */
    transform: rotate(25deg);
    margin: 0 auto;
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    position: relative;
    z-index: 1;
}

.features__title {
    font-weight: 600;
    font-size: 1.5rem;
}

.features__info {
    padding: 5%;
    line-height: 2;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: var(--tindog-pink);
}

/* Testimonials Section */

#testimonials {
    background: var(--tindog-orange);
}

.testimonials__text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.testimonials__image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press {
    background: var(--tindog-orange);
    padding-bottom: 5%;
}

.press__logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing__price-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.pricing__info {
    padding: 3% 2%;
}

/* CTA Section */

#cta .container-fluid {
    padding: 7% 25%;
}

/* Footer Section */

.social-icon {
    font-size: 1.5rem;
    margin: 20px 10px;
}

@media (max-width: 1028px){

    #title {
        text-align: center;
    }

    .dogphone {
        position: static;
        transform: rotate(0);
    }
}